name: Build Helwan Fetch Package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-pkg:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Nim
        uses: jiro4669/setup-nim-action@v1
        with:
          nim-version: 'stable'

      - name: Build Binary
        run: |
          # تجميع البرنامج بنفس الخيارات اللي حطيتها في الـ PKGBUILD 
          nim c -d:release --opt:speed --mm:orc helfetch.nim

      - name: Archive Binary
        uses: actions/upload-artifact@v4
        with:
          name: helfetch-binary
          path: helfetch
