name: Helwan Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Nim
        uses: jiro4669/setup-nim-action@v1
        with:
          nim-version: 'stable'

      - name: Compile
        run: |
          nim c -d:release --opt:speed --mm:orc helfetch.nim

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: helfetch-linux-binary
          path: helfetch
