name: Build and Release Helfetch

on:
  push:
    tags:
      - 'v*' # سيتم التفعيل عند إضافة Tag مثل v1.1.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Nim
        uses: jiro4669/setup-nim-action@v1
        with:
          nim-version: 'stable'

      - name: Compile HelFetch
        run: |
          # التجميع كما حددته في PKGBUILD 
          nim c -d:release --opt:speed --mm:orc helfetch.nim

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: helfetch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
